<h4>Configurações</h4>
<br>
<div id="new">
  <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
    <div class="form-group">
      <label for="hourInit">Abertura de Horário de Atendimento</label>
      <input type="number" formControlName="hourInit" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.hourInit.errors }" />
      <div *ngIf="submitted && f.hourInit.errors" class="invalid-feedback">
        <div *ngIf="f.hourInit.errors.required">Obrigatório</div>
      </div>
    </div>
    <div class="form-group">
      <label for="hourEnd">Fechamento de Horário de Atendimento</label>
      <input type="number" formControlName="hourEnd" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.hourEnd.errors }" />
      <div *ngIf="submitted && f.hourEnd.errors" class="invalid-feedback">
        <div *ngIf="f.hourEnd.errors.required">Obrigatório</div>
      </div>
    </div>
    <div class="form-group">
      <label for="interval">Intervalo de Atendimentos (Minutos)</label>
      <input type="number" formControlName="interval" class="form-control" [ngClass]="{ 'is-invalid': submitted && f.interval.errors }" />
      <div *ngIf="submitted && f.interval.errors" class="invalid-feedback">
        <div *ngIf="f.interval.errors.required">Obrigatório</div>
      </div>
    </div>
    <div class="form-group">
      <label for="workingDays">Dias de trabalhados (Selecione dias diferentes usando a tecla CTRL)</label>
      <select multiple class="form-control" id="workingDays" size="7" formControlName="workingDays">
        <option value="Domingo">Domingo</option>
        <option value="Segunda">Segunda</option>
        <option value="Terça">Terça</option>
        <option value="Quarta">Quarta</option>
        <option value="Quinta">Quinta</option>
        <option value="Sexta">Sexta</option>
        <option value="Sabado">Sabado</option>
      </select>
      <div *ngIf="submitted && f.workingDays.errors" class="invalid-feedback">
        <div *ngIf="f.workingDays.errors.required">Obrigatório</div>
      </div>
    </div>
    
    <div class="form-group">
      <button [disabled]="loading" class="btn btn-primary">Salvar</button>
      <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
    </div>
  </form>
</div>