@import url('https://themes.googleusercontent.com/fonts/css?kit=fpjTOVmNbO4Lz34iLyptLUXza5VhXqVC6o75Eld_V98');
ol {
    margin: 0;
    padding: 0
}

table td,
table th {
    padding: 0
}

.c1 {
    color: #000000;
    font-weight: 400;
    text-decoration: none;
    vertical-align: baseline;
    font-size: 11pt;
    font-family: "Calibri";
    font-style: normal
}

.c0 {
    padding-top: 0pt;
    padding-bottom: 10pt;
    line-height: 1.15;
    text-align: left
}

.c4 {
    background-color: #ffffff;
    max-width: 600pt;
    padding: 20pt 20pt 20pt 20pt
}

.c3 {
    color: inherit;
    text-decoration: inherit
}

.c2 {
    height: 11pt
}

.title {
    padding-top: 12pt;
    color: #000000;
    font-weight: 700;
    font-size: 16pt;
    padding-bottom: 3pt;
    font-family: "Arial";
    line-height: 1.0791666666666666;
    orphans: 2;
    widows: 2;
    text-align: center
}

.subtitle {
    padding-top: 0pt;
    color: #000000;
    font-size: 11pt;
    padding-bottom: 3pt;
    font-family: "Arial";
    line-height: 1.0791666666666666;
    orphans: 2;
    widows: 2;
    text-align: center
}

li {
    color: #000000;
    font-size: 11pt;
    font-family: "Calibri"
}

p {
    margin: 0;
    color: #000000;
    font-size: 11pt;
    font-family: "Calibri"
}

h1 {
    padding-top: 12pt;
    color: #000000;
    font-weight: 700;
    font-size: 16pt;
    padding-bottom: 3pt;
    font-family: "Arial";
    line-height: 1.0791666666666666;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h2 {
    padding-top: 12pt;
    color: #000000;
    font-weight: 700;
    font-size: 14pt;
    padding-bottom: 3pt;
    font-family: "Arial";
    line-height: 1.0791666666666666;
    page-break-after: avoid;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
}

h3 {
    padding-top: 12pt;
    color: #000000;
    font-weight: 700;
    font-size: 13pt;
    padding-bottom: 3pt;
    font-family: "Arial";
    line-height: 1.0791666666666666;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h4 {
    padding-top: 12pt;
    color: #000000;
    font-weight: 700;
    font-size: 14pt;
    padding-bottom: 3pt;
    font-family: "Calibri";
    line-height: 1.0791666666666666;
    page-break-after: avoid;
    orphans: 2;
    widows: 2;
    text-align: left
}

h5 {
    padding-top: 12pt;
    color: #000000;
    font-weight: 700;
    font-size: 13pt;
    padding-bottom: 3pt;
    font-family: "Calibri";
    line-height: 1.0791666666666666;
    font-style: italic;
    orphans: 2;
    widows: 2;
    text-align: left
}

h6 {
    padding-top: 12pt;
    color: #000000;
    font-weight: 700;
    font-size: 11pt;
    padding-bottom: 3pt;
    font-family: "Calibri";
    line-height: 1.0791666666666666;
    orphans: 2;
    widows: 2;
    text-align: left
}