<h4>Fluxo de Caixa</h4>
<div>
  <div class="form-row">
    <div class="form-group col-md-2">
      <label for="initDate">Data Início </label>
      <input [(ngModel)]="initDate" id="initDate" name="initDate" class="form-control form-control-sm input-md" type="date">
    </div>

    <div class="form-group col-md-2">
      <label for="endDate">Data Fim</label>
      <input [(ngModel)]="endDate" id="endDate" name="endDate" class="form-control form-control-sm input-md" type="date">
    </div>
  </div>
  <h6> Contas a Pagar</h6>
  <div class="custom-control custom-checkbox custom-control-inline">
    <input type="checkbox" class="custom-control-input" id="toPay" [(ngModel)]="toPay">
    <label class="custom-control-label" for="toPay">A Pagar</label>
  </div>
  <div class="custom-control custom-checkbox custom-control-inline">
    <input type="checkbox" class="custom-control-input" id="paid" [(ngModel)]="paid">
    <label class="custom-control-label" for="paid">Paga</label>
  </div>
  <h6> Contas a Receber</h6>
  <div class="custom-control custom-checkbox custom-control-inline">
    <input type="checkbox" class="custom-control-input" id="toReceive" [(ngModel)]="toReceive">
    <label class="custom-control-label" for="toReceive">A Receber</label>
  </div>
  <div class="custom-control custom-checkbox custom-control-inline">
    <input type="checkbox" class="custom-control-input" id="received" [(ngModel)]="received">
    <label class="custom-control-label" for="received">Recebido</label>
  </div>
  <h6>Agrupar por:</h6>
  <div class="custom-control custom-checkbox custom-control-inline">
    <input type="checkbox" class="custom-control-input" id="user" [(ngModel)]="user">
    <label class="custom-control-label" for="user">Usuário</label>
  </div>
  <br>
  <a class="btn btn-primary mt-2 mb-2 mr-2" (click)="onSubmit()">Buscar</a>
  <a class="btn btn-info mt-2 mb-2" (click)="report()">Emitir Relatório</a>
</div>
<div id="list" >
  <table class="table table-striped table-sm">
    <thead>
      <tr>
        <th scope="col">#</th>
        <th scope="col">Documento</th>
        <th scope="col">Descrição</th>
        <th scope="col">Validade</th>
        <th scope="col">Valor</th>
        <th scope="col">Forma de Pagamento</th>
        <th scope="col">Natureza</th>
        <th scope="col">Status</th>
      </tr>
    </thead>
    <tbody>
      <tr *ngFor="let b of bills">
        <th scope="row" class="align-middle">{{ b.id }}</th>
        <td class="align-middle">{{ b.document }}</td>
        <td class="align-middle">{{ b.description }}</td>
        <td class="align-middle">{{ b.validUntil | date:'dd/MM/yy' }}</td>
        <td class="align-middle">{{ b.value }}</td>
        <td class="align-middle">{{ b.paymentMethod.description }}</td>
        <td class="align-middle">{{ b.nature | nature}}</td>
        <td class="align-middle">{{ b.status | status }}</td>
      </tr>
    </tbody>
  </table>
</div>