<div class="d-flex justify-content-between flex-wrap flex-md-nowrap align-items-center pt-3 pb-2 mb-3 border-bottom">
    <h1 class="h2">Financeiro</h1>
    <div class="btn-toolbar mb-2 mb-md-0">
  
      <div class="btn-group mr-2">
        <!-- <button class="btn btn-sm btn-outline-secondary" routerLink="/home/consult">Nova Consulta</button>
        <button class="btn btn-sm btn-outline-primary" routerLink="/home/patient">Cadastro Cliente</button> -->
      </div>
    </div>
  </div>
<router-outlet></router-outlet>
