<section class="row">
        <div class="col-md-8">
            <h4>Pacientes</h4>
        </div>
        <div class="col-md-4">
            <div class="btn-group float-right" role="group">
                <button class="btn btn-primary btn-sm mb-4 float-right" (click)="toggle()">{{title}}</button>
            </div>
        </div>
    </section>
<div id="new" [@popOverState]="stateList">
    <form [formGroup]="registerForm" (ngSubmit)="onSubmit()">
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="name">Nome Completo</label>
                <input type="text" class="form-control form-control-sm" id="name" name="name" formControlName="name" placeholder="Nome Completo" [ngClass]="{ 'is-invalid': submitted && f.name.errors }">
                <div *ngIf="submitted && f.name.errors" class="invalid-feedback">
                    <div *ngIf="f.name.errors.required">Obrigatório</div>
                </div>
            </div>
            <div class="form-group col-md-3">
                <label for="cpf">CPF</label>
                <input type="text" class="form-control form-control-sm" id="cpf" name="cpf" formControlName="cpf" placeholder="CPF">
            </div>
            <div class="form-group col-md-3">
                <label for="birthday">Data de Nascimento</label>
                <input id="birthday" name="birthday" placeholder="DD/MM/AAAA" formControlName="birthday" class="form-control form-control-sm"
                    type="date">
            </div>
        </div>
        <div class="form-row">
            <div class="form-group col-md-6">
                <label for="phone">Telefone</label>
                <input type="text" class="form-control form-control-sm" id="phone" name="phone" formControlName="phone" placeholder="Telefone" [ngClass]="{ 'is-invalid': submitted && f.phone.errors }">
                <div *ngIf="submitted && f.phone.errors" class="invalid-feedback">
                    <div *ngIf="f.phone.errors.required">Obrigatório</div>
                </div>
            </div>
            <div class="form-group col-md-6">
                <label for="email">Email</label>
                <input type="email" class="form-control form-control-sm" id="email" name="email" formControlName="email" placeholder="Email">
            </div>
        </div>
        <div class="form-group">
            <div>
                <h6>Endereço</h6>
            </div>
            <input type="text" class="d-none" id="id" name="cpf" formControlName="addressId" placeholder="CPF">
            <div class="form-row">
                <div class="form-group col-md-3">
                    <label for="street">Rua</label>
                    <input type="text" class="form-control form-control-sm" id="street" name="street" formControlName="street">
                </div>
                <div class="form-group col-md-1">
                    <label for="number">Número</label>
                    <input type="text" class="form-control form-control-sm" id="number" name="number" formControlName="number">
                </div>
                <div class="form-group col-md-2">
                    <label for="complement">Complemento</label>
                    <input type="text" class="form-control form-control-sm" id="complement" name="complement" formControlName="complement">
                </div>
                <div class="form-group col-md-2">
                    <label for="city">Cidade</label>
                    <input type="text" class="form-control form-control-sm" id="city" name="city" formControlName="city">
                </div>
                <div class="form-group col-md-2">
                    <label for="state">Estado</label>
                    <select id="state" class="form-control form-control-sm" name="state" formControlName="state">
                        <option selected value="1">Rio de Janeiro</option>
                        <option value="2">São Paulo</option>
                    </select>
                </div>
                <div class="form-group col-md-2">
                    <label for="zip">CEP</label>
                    <input type="text" class="form-control form-control-sm" id="zip" name="zip" formControlName="zip">
                </div>
            </div>
        </div>
        <div class="form-group">
            <button [disabled]="loading" class="btn btn-success btn-sm">Salvar</button>
            <img *ngIf="loading" src="data:image/gif;base64,R0lGODlhEAAQAPIAAP///wAAAMLCwkJCQgAAAGJiYoKCgpKSkiH/C05FVFNDQVBFMi4wAwEAAAAh/hpDcmVhdGVkIHdpdGggYWpheGxvYWQuaW5mbwAh+QQJCgAAACwAAAAAEAAQAAADMwi63P4wyklrE2MIOggZnAdOmGYJRbExwroUmcG2LmDEwnHQLVsYOd2mBzkYDAdKa+dIAAAh+QQJCgAAACwAAAAAEAAQAAADNAi63P5OjCEgG4QMu7DmikRxQlFUYDEZIGBMRVsaqHwctXXf7WEYB4Ag1xjihkMZsiUkKhIAIfkECQoAAAAsAAAAABAAEAAAAzYIujIjK8pByJDMlFYvBoVjHA70GU7xSUJhmKtwHPAKzLO9HMaoKwJZ7Rf8AYPDDzKpZBqfvwQAIfkECQoAAAAsAAAAABAAEAAAAzMIumIlK8oyhpHsnFZfhYumCYUhDAQxRIdhHBGqRoKw0R8DYlJd8z0fMDgsGo/IpHI5TAAAIfkECQoAAAAsAAAAABAAEAAAAzIIunInK0rnZBTwGPNMgQwmdsNgXGJUlIWEuR5oWUIpz8pAEAMe6TwfwyYsGo/IpFKSAAAh+QQJCgAAACwAAAAAEAAQAAADMwi6IMKQORfjdOe82p4wGccc4CEuQradylesojEMBgsUc2G7sDX3lQGBMLAJibufbSlKAAAh+QQJCgAAACwAAAAAEAAQAAADMgi63P7wCRHZnFVdmgHu2nFwlWCI3WGc3TSWhUFGxTAUkGCbtgENBMJAEJsxgMLWzpEAACH5BAkKAAAALAAAAAAQABAAAAMyCLrc/jDKSatlQtScKdceCAjDII7HcQ4EMTCpyrCuUBjCYRgHVtqlAiB1YhiCnlsRkAAAOwAAAAAAAAAAAA==" />
        </div>
    </form>
</div>
<div id="list">
    <table class="table table-striped table-sm">
        <thead>
            <tr>
                <th scope="col">Nome</th>
                <th scope="col">CPF</th>
                <th scope="col">Email</th>
                <th scope="col"></th>
            </tr>
        </thead>
        <tbody>
            <tr *ngFor="let patient of patients">
                <td>{{ patient.name }} </td>
                <td>{{ patient.cpf }}</td>
                <td>{{ patient.email }}</td>
                <td>
                    <a class="btn btn-info btn-sm" (click)="edit(patient.id)">
                        <i class="far fa-edit"></i></a>
                    <a class="btn btn-danger btn-sm ml-1" (click)="delete(patient.id)">
                        <i class="far fa-trash-alt"></i></a></td>
            </tr>
        </tbody>
    </table>
</div>